.add-tag-modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
  min-width: 350px;
  min-height: 200px;
}

.add-tag-modal-select {
  padding-bottom: 30px;
}

.tags-modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.tags-modal-cancel-btn {
  width: 90px;
  height: 24px;
  border-radius: 6px;
  background-color: rgb(247, 149, 151);
  box-shadow: 0px 3px 4px rgba(211, 119, 125, 0.624);
  border: none;
  cursor: pointer;
  color: black;
  font-size: 13px;
  text-align: center;
  margin-right: 14px;
  flex-shrink: 0;
  transition: 0.2s ease;
}

.tags-modal-cancel-btn:hover {
  box-shadow: 0px 4px 8px rgba(19, 113, 185, 0.4);
  color: rgb(0, 0, 0);
}

.tags-modal-save-btn {
  width: 90px;
  height: 24px;
  border-radius: 6px;
  background-color: rgb(88, 212, 117);
  box-shadow: 0px 3px 4px rgba(132, 211, 119, 0.624);
  border: none;
  cursor: pointer;
  color: black;
  font-size: 13px;
  text-align: center;
  flex-shrink: 0;
  transition: 0.2s ease;
}

.tags-modal-save-btn:hover {
  box-shadow: 0px 4px 8px rgba(19, 113, 185, 0.4);
  color: rgb(0, 0, 0);
}
