.site-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-details-block {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.site-details-img {
  display: flex;
  margin-top: 0px;
  border: 1px solid;
  width: 500px;
  height: 350px;
  object-fit: cover;
  margin-right: 3%;
}

.site-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3%;
  width: 350px;
  height: 350px;
}

.site-details-info > h2 {
  margin-top: 8px;
  margin-bottom: 5px;
}

.site-details-info > p {
  margin-top: 5px;
  font-size: 14px;
}

.site-details-info-sections {
  display: flex;
  flex-direction: column;
}

.site-details-info-sections > p {
  font-size: 14px;
}

.site-details-description {
  border: 1px solid;
  border-radius: 5px;
  background-color: white;
  padding: 6px;
  height: 140px;
}

.site-details-description > h4 {
  margin-top: 0px;
  margin-bottom: 6px;
}

.site-details-description > p {
  margin-bottom: 0px;
  font-size: 14px;
}


.site-details-btns {
  margin-bottom: 5px;
}

.sd-circle-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  color: transparent;
  font-size: 0px;
  transition: width 0.1s ease, border-radius 0.3s ease, background-color 0.3s ease; /* Smooth transition */
  text-align: center;
  margin: 0 5px;
  flex-shrink: 0;
}

#sd-red-btn {background-color: rgb(251,148,149);}
#sd-yellow-btn {background-color: rgb(251,212,111);}
#sd-green-btn {background-color: rgba(100,238,132,255);}

.sd-circle-btn:hover {
  width: 75px;
  border-radius: 25px;
  color: rgb(0, 0, 0);
  font-size: 14px;
}

.sd-circle-btn:focus {
  outline: none;
}


.site-reviews-block {
  display: flex;
  flex-direction: column;
  margin-top: 8%;
  margin-bottom: 5%;
  border: 1px solid;
  width: 850px;
}

.site-reviews-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}
