.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: rgb(123, 141, 241);
  list-style-type: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
}

.app-title {
  font-size: 30px;
  padding: 0px 10px;
  color: rgb(240, 237, 237);
}

.app-title-deco {
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
  padding: 0px 10px;
  margin: 0;
}

.app-title-deco > li {
  font-size: 9px;
  padding: 0px 2px;
  margin: none;
}

#red-dot {color: rgb(251,148,149)}
#yellow-dot {color: rgb(251,212,111)}
#green-dot {color: rgba(100,238,132,255)}


.nav-link {
  text-decoration: none;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-link {
  margin-right: 16px;
  font-size: 16px;
  color: rgb(240, 237, 237);
  text-decoration: none;
  transition: 0.2s ease;
}

.header-link:hover {
  cursor: pointer;
  color: rgb(178, 189, 251);
}

.profile-button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  margin-right: 20px;
  transition: 0.2s ease;
}

.profile-button:hover {
  cursor: pointer;
  color: rgb(38, 89, 172);
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 5px;
  box-shadow: 0px 3px 4px rgba(17, 22, 16, 0.2);
  border-radius: 10px;
  position: absolute;
  background-color: rgb(249, 249, 249);
  right: 20px;
  top: 50px;
}


.login-signup-menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  width: 65px;
}

.login-signup, .login-signin {
  font-size: 16px;
  list-style-type: none;
  transition: 0.2s ease;
}

.login-signup:hover, .login-signin:hover {
  cursor: pointer;
  color: rgb(102, 125, 255);
}

.profile-dropdown-buttons {
  display: flex;
  flex-direction: column;
}

.profile-dropdown-buttons > button {
  width: 80px;
  height: 25px;
  border-radius: 6px;
  box-shadow: 0px 3px 4px rgba(120, 165, 210, 0.5);
  border: none;
  cursor: pointer;
  color: black;
  font-size: 13px;
  text-align: center;
  flex-shrink: 0;
  margin-top: 8px;
  transition: 0.2s ease;
}

.profile-dropdown-buttons > button:hover {
  background-color: rgb(214, 233, 250);
}

.logged-in-dropdown-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  height: auto;
  width: auto;
}

.logged-in-dropdown-wrapper > li {
  font-size: 14px;
  list-style-type: none;
  margin: 1px 10px;
}
